*{
    background-color: rgb(34, 233, 77);
    text-align: center;
}
h1{
    
    text-align: center;
    font-family: cursive;
    font-style: italic;
    font-feature-settings: "cpct";

}
h2{
    background-color: rgb(10, 175, 216);
    text-align: center;
    font-family: cursive;
    font-style: italic;
    font-feature-settings: "cpct"; 
}
input{
    padding:3px;
    -webkit-margin-start: 3px;
}