*{
    background-color: rgb(211, 217, 218);
    text-align: center;
    text-align: center;
    text-emphasis-color: green;
    background-image:image("goddes.jpg");
}
h1{
    
    text-align: center;
    font-family: cursive;
    font-style: italic;
    font-feature-settings: "cpct";

}
h2{
    background-color: rgb(86, 228, 51);
    text-align: center;
    font-family: cursive;
    font-style: italic;
    font-feature-settings: "cpct"; 
}
input{
    padding:3px;
    -webkit-margin-start: 3px;
}

    fieldset {
        font-size:12px;
        padding:10px;
        width:250px;
        line-height:1.8;}
    

marquee{
    direction: inherit;
}

ul {
    border: 1px solid #555;
  }
  
  li {
    text-align: center;
    border-bottom: 1px solid #555;
  }
  
  li:last-child {
    border-bottom: none;
  }
  body{
background-image: -moz-repeating-radial-gradient(

);


  }